* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    display: flex;
    margin-top: 50px;
}
#search-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
#search-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}
.brand {
    background-color: #dfe6e9;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
}
.brand:hover {
    background-color: #b2bec3;
}
#computers-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgHQl6FKZmqteKWQmzxfvdjX5NE7J7i4oj2A&s);
}
.computer {
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.computer img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
.computer-details {
    display: flex;
    align-items: center;
    margin-top: -820px;
    margin-left: 600px;
    background-color: #fff;
    border: 2px solid #ccc;
    width: 100px;
    height: 70px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.computer-details.open {
    display: block;
}
.computer .details-btn {
    background-color: #0984e3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.computer .details-btn:hover {
    background-color: #74b9ff;
}

.container {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}
#search-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
#search-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}
.brand {
    background-color: #dfe6e9;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
}
.brand:hover {
    background-color: #b2bec3;
}
#computers-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.computer {
    background-color: white;
    width: 200px;
    height: 220px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.computer img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
.computer-details {
    display: none;
    position: fixed;
    top: 135%;
    left: 0;
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    width: 320px;
    height: 450px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    z-index: 10;
}
.btt {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px grey;
    width: 100px;
    margin-top: 25px;
    margin-left: 35%;
}
.computer-details img {
    height: 300px;
    width: 300px;
}
.computer-details.open {
    display: block;
}
.computer .details-btn {
    background-color: #0984e3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.computer .details-btn:hover {
    background-color: #74b9ff;
}
#search-container :hover{
    color: rgb(112, 17, 141);
}
.btn-primary {
    background: linear-gradient(90deg, #f0e117, #fffb00);
    border: none;
    color: black;
    transition: all 0.3s ease;
    width: 150px;
    height: 45px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 10px;
}
.btn-primary :hover {
    background: rgb(221, 218, 12);
}
button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
